<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="Microsoft.ServiceBus.ConnectionString"
      value="Endpoint=sb://[host]/ServiceBusDefaultNamespace;StsEndpoint=https://[host]:9355/ServiceBusDefaultNamespace;RuntimePort=9354;ManagementPort=9355" />
  </appSettings>
</configuration>
